body {
  height: 100vh;
}

.square {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: yellow;
  animation-name: judejimas;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}

@keyframes judejimas {
  0% {
    margin-top: 0;
    margin-left: 0;
  }
  25% {
    margin-top: 0;
    margin-left: 300px;
  }
  50% {
    margin-left: 300px;
    margin-top: 300px;
  }
  75% {
    margin-top: 300px;
    margin-left: 0;
  }

  100% {
    margin-top: 0;
    margin-left: 0;
  }
}
